.content-value {
  display: flex;
  align-items: center;
  margin-top: 12px;
  height: 24px;
  line-height: 24px;

  .label-text {
    margin-right: 6px;
    width: 100px;
    text-align: right;
  }
}

.share-import-form {
  padding: 16px;

  .ant-form-item {
    margin-bottom: 14px;
  }

  .ant-form-item-label > label {
    height: 32px;
    color: var(--Colors-Use-Neutral-Text-2-Primary);
    font-size: 12px;
  }
}

.share-import-actions {
  margin-bottom: 0 !important;
  padding-top: 2px;

  .ant-form-item-control-input-content {
    display: flex;
    justify-content: flex-end;
  }
}
