.plugin-editor {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid var(--Colors-Use-Neutral-Border);
  border-radius: 4px;
  background: var(--Colors-Use-Basic-Background);
  box-shadow: none;
}
.plugin-editor-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.plugin-editor-header {
  min-height: 50px;
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--Colors-Use-Neutral-Border);
  background: var(--Colors-Use-Basic-Background);
  .header-title {
    display: flex;
    align-items: center;

    color: var(--Colors-Use-Neutral-Text-1-Title);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
  .header-subtitle {
    margin-left: 16px;
    display: flex;
    align-items: center;
    color: #b4bbca;
    line-height: 20px;
    cursor: pointer;
    .subtitle-style {
      font-size: 12px;
      font-weight: 400;
      text-decoration-line: underline;
    }
    svg {
      width: 16px;
      height: 16px;
    }

    &:hover {
      color: var(--Colors-Use-Main-Primary);
    }
  }

  .header-btn-group {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
.plugin-editor-modify-header {
  background: var(--Colors-Use-Basic-Background);
  padding: 8px 16px;
  .header-title {
    font-size: 14px;
    line-height: 20px;
  }
}

.plugin-editor-body {
  flex: 1;
  min-height: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  gap: 0;
  padding: 8px;
  background: #f4f7f7;
  .editor-code-container {
    width: 100%;
    flex: 1;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
    border: 1px solid var(--Colors-Use-Neutral-Border);
    border-radius: 0 4px 4px 0;
    background: var(--Colors-Use-Basic-Background);
  }
}

// ---------- PluginCopyModal ----------
.plugin-copy-modal-body {
  padding: 0;
}

.plugin-copy-body {
  width: 100%;
  .copy-wrapper {
    padding: 16px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    .title-style {
      color: var(--Colors-Use-Neutral-Text-1-Title);
      font-size: 14px;
      line-height: 24px;
    }
  }
}
